<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<!-- Check if we got the logged in user variable -->
<% if (typeof currentUser === 'object') { %>
  <p>
    Hello, <%= currentUser.username %>
  </p>
  <!-- If we didn't get the logged in user variable -->
<% } else { %>
  <h3>Why don't you log in?</h3>
  <a href="/login">Log In NOW!</a>
<%}%>
