<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>about</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>about</h1>
    <p>
      blah blah blah blah blah blah blah blah<br />
      blah blah blah blah blah blah blah blah<br />
      blah blah blah blah blah blah blah blah<br />
    </p>
    <img src="/images/about.gif" /><br />
    <!-- app.get('/about', ...{ -->
        <a href="/">home</a><br />
        <a href="/contact">contact</a>
        <script src="js/script.js"></script>
  </body>
</html>
