<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>contact</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h2>contact</h2>
    <p>
      phone: 8675309<br />
      email: jarrodluca@gmail.com<br />
      instagram: @jarrod_luca<br />
      twitter: @jarrod_luca<br />
      medium: @jarrod_luca<br />
    </p>
    <img src="/images/contact.gif" /><br />
    <a href="/">home</a><br />
    <a href="/about">about</a>
    <script src="js/script.js"></script>
  </body>
</html>
