<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css" />
  <title>Express Forms</title>
</head>
<body>
  <header>
    <h1>Express Forms</h1>
    <nav>
      <a href="/">home</a>
      <a href="/search">search</a>
      <a href="/login">login</a>
    </nav>
  </header>
  <div class="container">
<!-- 🚨 MOST IMPORTANT PART OF LAYOUT 🚨 -->
  <%- body %>
<!-- 🚨 MOST IMPORTANT PART OF LAYOUT 🚨 -->
  <footer>
    <p>made with ☕️ at ironhack</p>
  </footer>
  </div>

<script src="/js/front.js"></script>
</body>
</html>
