<h2>Login</h2>

<form method="post" action="/check-login">
<!--           |                 |
             app.post(    '/check-login', (...) = >)
-->
  <label for="email-input">email</label>
  <input id="email-input" type="email" name="emailValue" />
  <br />
  <label for="password-input">password</label>
  <input id="password-input" type="password" name="passwordValue" />
  <br />
  <button>login</button>
</form>
