<h2>Your search results</h2>
<p>this is step #1 of a form submission process<br />
receiving information submitted by the user</p>

<ol>SPONSORED:
  <li><a href="http://nizaroni.pizza">nizaroni.pizza</a></li>
  <li><a href="https://giphy.com">giphy.com</a></li>
  <li><a href="http://reddit.com">reddit.com</a></li>
</ol>


<img src="images/no.gif" />
