<div class="search-form">
<h2>search</h2>
<form method="get">
  <label for="search-term-input">search the web</label>
  <input type="search" placeholder="search" id="search-term-input"/><br />
  <input id="interests-box" type="checkbox" />
  <label for="interests-box">interested in pizza?</label>
  <button>search</button>
</form>
</div>
