<h2>Add a Room</h2>

<form method="post" action="/rooms">
  <label for="room-name-input"></label>Room Name:
  <input id="room-name-input" type="text" name="roomName"/>
  <br />

  <label for="room-description-input"></label>Description:
  <textarea id="room-description-input" name="roomDescription"></textarea>
  <br />

  <label for="room-photo-url"></label>Photo:
  <input id="room-photo-url" type="text" name="roomPhoto"/>
  <br />

  <button>Save This Room</button>
</form>
